<a href="https://colab.research.google.com/github/Christian-Dale-Gutierrez/OOP-58001/blob/main/Phyton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Fundamentals

Phyton Variable

In [ ]:
x = float (1)
a, b = 0, -1
a, b, c = "Christian", "Dale", "Gutierrez"

print('This a sample')
print(a)
print(c)

This a sample
Christian
Gutierrez


Casting

In [ ]:
print(x)

1.0

Type() Function

In [ ]:
y = "Amazing"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [ ]:
#h = "Good Bye"
h = 'Good Bye'
v = 1
V = 3

print(h)
print(v)
print(v+1)

Good Bye
1
2

Multiple Variables

In [ ]:
x, y, z = "see", "you", 'soon'

print(x)
print(y)
print(z)
print(x, y, z)

see
you
soon
see you soon

One Value to Multiple Variables

In [ ]:
x = y = z = "Hello"
print(x, y, z)
print(x)
print(y)
print(z)

Hello Hello Hello
Hello
Hello
Hello

Output Variables

In [ ]:
x = "fun"
y = "Playing is"

print("Playing is " + x)
print(y + " " + x)

Playing is fun
Playing is fun

Arithmetic Operations

In [ ]:
f = 3
g = 6
i = 9

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

9
-3
27
1
0.5
3
0
729

Assignment Operators

In [ ]:
k = 2
l = 3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Relational Operators

In [ ]:
v=1
k=2

print(v>k)
print(v==k)

False
False

Logical Operators

In [ ]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [ ]:
print(v is k)
print(v is not k)

False
True